DESKTOP-RGN6M86
intranet
dbo.client

In [3]:
import pyodbc
import pandas as pd

(1, '2020-12-18', False, None, None, None, None, None, 'AEW', None, None, None, None)
(2, '2020-12-18', False, None, None, None, None, None, 'Athymis', None, None, None, None)
(3, '2020-12-18', False, None, None, None, None, None, 'BIL Manage Invest', None, None, None, None)
(4, '2020-12-18', False, None, None, None, None, None, 'den-am', None, None, None, None)
(5, '2020-12-18', False, None, None, None, None, None, 'Dynasty AM', None, None, None, None)
(6, '2020-12-18', False, None, None, None, None, None, 'ICAMAP', None, None, None, None)
(7, '2020-12-18', False, None, None, None, None, None, 'Pictet', None, None, None, None)
(8, '2020-12-18', False, None, None, None, None, None, 'PureCapital', None, None, None, None)
(10, '2020-12-18', False, None, None, None, None, None, 'Septagon', None, None, None, None)
(11, '2020-12-18', False, None, None, None, None, None, 'Auris Gestion', None, None, None, None)
(12, '2020-12-18', False, None, None, None, None, None, 'Brode Capital', None, None, None, None)
(13, '2020-12-18', False, None, None, None, None, None, 'Carne_Edgewood', None, None, None, None)
(14, '2020-12-18', False, None, None, None, None, None, 'Carne_Great Point', None, None, None, None)
(15, '2020-12-18', False, None, None, None, None, None, 'Carne_UBP', None, None, None, None)
(16, '2020-12-18', False, None, None, None, None, None, 'Carlisle', None, None, None, None)
(17, '2020-12-18', False, None, None, None, None, None, 'Threestones', None, None, None, None)

In [ ]:
connector = pyodbc.connect('driver={SQL Server};'
                           'Server=DESKTOP-RGN6M86;'
                           'Database=intranet;'
                           'Trusted_Connection=yes;')

cursor = connector.cursor()
cursor.execute('SELECT * FROM intranet.dbo.client')

for row in cursor:
    print(row)

In [6]:
clients = pd.read_sql_query('SELECT * FROM intranet.dbo.client', connector)
clients

,id,last_update,supprime,cp,activity,address,business_name,city,client_name,contact_name,country,mail,phone_number
0,1,2020-12-18,False,None,None,None,None,None,AEW,None,None,None,None
1,2,2020-12-18,False,None,None,None,None,None,Athymis,None,None,None,None
2,3,2020-12-18,False,None,None,None,None,None,BIL Manage Invest,None,None,None,None
3,4,2020-12-18,False,None,None,None,None,None,den-am,None,None,None,None
4,5,2020-12-18,False,None,None,None,None,None,Dynasty AM,None,None,None,None
5,6,2020-12-18,False,None,None,None,None,None,ICAMAP,None,None,None,None
6,7,2020-12-18,False,None,None,None,None,None,Pictet,None,None,None,None
7,8,2020-12-18,False,None,None,None,None,None,PureCapital,None,None,None,None
8,10,2020-12-18,False,None,None,None,None,None,Septagon,None,None,None,None
9,11,2020-12-18,False,None,None,None,None,None,Auris Gestion,None,None,None,None
10,12,2020-12-18,False,None,None,None,None,None,Brode Capital,None,None,None,None
11,13,2020-12-18,False,None,None,None,None,None,Carne_Edgewood,None,None,None,None
12,14,2020-12-18,False,None,None,None,None,None,Carne_Great Point,None,None,None,None
13,15,2020-12-18,False,None,None,None,None,None,Carne_UBP,None,None,None,None
14,16,2020-12-18,False,None,None,None,None,None,Carlisle,None,None,None,None
15,17,2020-12-18,False,None,None,None,None,None,Threestones,None,None,None,None

In [10]:
funds = pd.read_sql_query('SELECT * FROM intranet.dbo.fund', connector)
funds

,id,last_update,supprime,custodian_name,fund_code,fund_currency,fund_custodian_country,fund_issuer_country,fund_issuer_group_code,fund_issuer_group_code_type,fund_issuer_group_name,fund_name,fund_type,id_client
0,1,2020-12-18,False,None,AEW1,None,None,None,None,None,None,AEW S.à r.l.,AIFM,1
1,2,2020-12-18,False,None,AEW2,None,None,None,None,None,None,AEW Eurocore SCS SICAV-RAIF,AIF,1
2,3,2020-12-18,False,None,AEW3,None,None,None,None,None,None,Logistis Luxembourg Feeder S.A.,AIF,1
3,4,2020-12-18,False,None,AEW4,None,None,None,None,None,None,Logistis Luxembourg S.A.,AIF,1
4,5,2020-12-18,False,None,AEW5,None,None,None,None,None,None,Logitalia,AIF,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,64,2020-12-18,False,None,CAREDG1,None,None,None,None,None,None,Edgewood L Select,UCITS,13
64,65,2020-12-18,False,None,CARGP1,None,None,None,None,None,None,Great Point Entertainment Income Trust plc,None,14
65,66,2020-12-18,False,None,CARUBP1,None,None,None,None,None,None,UBP Private Debt ICAV,None,15
66,67,2020-12-18,False,None,LLF1,None,None,None,None,None,None,Luxembourg Life Fund FCP SIF,None,16
67,68,2020-12-18,False,None,THT1,None,None,None,None,None,None,TSC Fund SICAV-FIS,None,17

In [12]:
subfunds = pd.read_sql_query('SELECT * FROM intranet.dbo.subfund', connector)
subfunds

,id,last_update,supprime,fund_cic_code,fund_issuer_code,fund_issuer_code_type,fund_issuer_sector,subfund_code,subfund_currency,subfund_name,subfund_type,valuation_day,id_fund
0,1,2020-12-18,False,XL41,969500KG28OGE5P0YV35,1,K6630,athymis_PAH006,EUR,Athymis Millenial,None,None,8
1,2,2020-12-18,False,XL41,969500W2NT17784CHL85,1,K6630,athymis_PAH007,EUR,Athymis Millenial Europe,None,None,8
2,3,2020-12-18,False,XL41,None,9,K6630,athymis_L3455,EUR,Pareturn Global Equity Flex,None,None,9
3,4,2020-12-18,False,XL42,549300RYIRQHGULFJZ68,1,K6430,bil_LU3720,EUR,BIL Invest Absolute Return,None,5,10
4,5,2020-12-18,False,XL42,549300RQOPTSROFLIZ92,1,K6430,bil_LU3994,USD,BIL Invest Bonds Emerging Markets,None,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,128,2020-12-18,False,None,None,None,None,brode_custom_1,None,"Brode Capital SCA, SICAF-SIF - Brode A Fund",None,None,61
128,129,2020-12-18,False,None,None,None,None,gp_custom_1,None,Great Point Entertainment Income Trust plc,None,None,65
129,130,2020-12-18,False,None,None,None,None,ubp_custom_1,None,UBP Private Debt ICAV - UBP Private Debt Fund III,None,None,66
130,131,2020-12-18,False,None,None,None,None,llf_custom_1,None,Luxembourg Life Fund - Absolute Return Fund II,None,None,67
131,132,2020-12-18,False,None,None,None,None,tts_custom_1,None,TSC Fund SICAV-FIS - Eurocare Real Estate Fund,None,None,68

In [14]:
shareclasses = pd.read_sql_query('SELECT * FROM intranet.dbo.shareclass', connector)
shareclasses

,id,last_update,supprime,code_isin,dividend_policy,shareclass,shareclass_currency,shareclass_name,shareclass_id,type_tpt,valuation_frequency,id_benchmark_perf,id_benchmark_srri,id_proxy_perf,id_proxy_srri,id_subfund
0,1,2020-12-18,False,FR0013173382,CAPITALISATION,I cap 13C,EUR,Athymis Millenial I cap,None,1,None,NaN,NaN,NaN,NaN,1
1,2,2020-12-18,False,FR0013173374,CAPITALISATION,P cap 24C,EUR,Athymis Millenial P cap,None,1,None,NaN,NaN,NaN,NaN,1
2,3,2020-12-18,False,FR0013196748,CAPITALISATION,I cap 13C,EUR,Athymis Millenial Europe I cap,None,1,None,NaN,NaN,NaN,NaN,2
3,4,2020-12-18,False,FR0013196722,CAPITALISATION,P cap 24C,EUR,Athymis Millenial Europe P cap,None,1,None,NaN,NaN,NaN,NaN,2
4,5,2020-12-18,False,LU1815010902,CAPITALISATION,R EUR Capitalisation,EUR,Pareturn Global Equity Flex R EUR Cap,None,1,None,NaN,NaN,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,357,2020-12-18,False,IE00BMY47228,None,None,USD,UBP Private Debt ICAV - UBP Private Debt Fund ...,None,None,None,NaN,NaN,NaN,NaN,130
357,358,2020-12-18,False,LU2013630715,None,None,None,Luxembourg Life Fund - Absolute Return Fund II...,None,None,Quarterly,NaN,NaN,NaN,NaN,131
358,359,2020-12-18,False,LU2013631523,None,None,None,Luxembourg Life Fund - Absolute Return Fund II...,None,None,Quarterly,NaN,NaN,NaN,NaN,131
359,360,2020-12-18,False,LU2013632760,None,None,None,Luxembourg Life Fund - Absolute Return Fund II...,None,None,Quarterly,NaN,NaN,NaN,NaN,131
360,361,2020-12-18,False,LU1387565564,None,None,None,TSC Fund SICAV-FIS - Eurocare Real Estate Fund...,None,None,None,NaN,NaN,NaN,NaN,132

In [15]:
shareclasses = pd.read_sql_query('SELECT code_isin, shareclass, shareclass_currency, shareclass_name, id_subfund FROM intranet.dbo.shareclass', connector)
shareclasses

,code_isin,shareclass,shareclass_currency,shareclass_name,id_subfund
0,FR0013173382,I cap 13C,EUR,Athymis Millenial I cap,1
1,FR0013173374,P cap 24C,EUR,Athymis Millenial P cap,1
2,FR0013196748,I cap 13C,EUR,Athymis Millenial Europe I cap,2
3,FR0013196722,P cap 24C,EUR,Athymis Millenial Europe P cap,2
4,LU1815010902,R EUR Capitalisation,EUR,Pareturn Global Equity Flex R EUR Cap,3
...,...,...,...,...,...
356,IE00BMY47228,None,USD,UBP Private Debt ICAV - UBP Private Debt Fund ...,130
357,LU2013630715,None,None,Luxembourg Life Fund - Absolute Return Fund II...,131
358,LU2013631523,None,None,Luxembourg Life Fund - Absolute Return Fund II...,131
359,LU2013632760,None,None,Luxembourg Life Fund - Absolute Return Fund II...,131
360,LU1387565564,None,None,TSC Fund SICAV-FIS - Eurocare Real Estate Fund...,132

In [19]:
BIL_portfolio = pd.read_sql_query('SELECT * FROM intranet.dbo.portfolio_bil', connector)
BIL_portfolio

Empty DataFrame
Columns: [id, last_update, supprime, account_number, accrued_interest_amount_in_fund_currency, accrued_interest_amount_in_instrument_currency, ao_hedge_indicator, ao_market_accrued_asset, ao_market_accrued_fund, ao_quantity, contract_size, country_label, coupon_frequency_name, current_interest_rate, economic_sector_name, gti_label, investment_contract_number, investment_currency_code, last_coupon_date, market_value_amount_in_fund_currency, market_value_amount_in_instrument_currency, maturity, multiple_leg_identifier, next_coupon_date, percentage_impact, portfolio_name, profits_amount_in_fund_currency, quantity, quotation_place_name, unique_id, unique_identifier, valuation_group_code, valuation_group_label, valuation_label, valuation_price, id_portfolio]
Index: []

[0 rows x 36 columns]