###  Dynasty risk adjustment

In [1]:
import sys
import os
sys.path.append(os.path.abspath('..'))

import pandas as pd
import numpy as np
from pathlib import Path
from TPT_generator_python import DataBucket, TPTFetcher, TPTGenerator

In [13]:
DATE = "2020-12-31"
CLIENT = "Dynasty"
ISIN = "LU1280365476"
SYMADJ = -0.48
SOURCE_DIR = Path("../data")
OUTPUT_DIR = './production/example'
ALL = slice(None)

In [14]:
generator = TPTGenerator(DATE,
                         CLIENT,
                         OUTPUT_DIR,
                         SOURCE_DIR,
                         sym_adj=SYMADJ,
                         shareclass_isin=ISIN)
generator

    Reporting date:          2020-12-31
    Client:                  Dynasty
    Shareclass isin:         LU1280365476
    number of instruments:   137

In [15]:
generator.data_bucket.get_instruments(ALL).shape

(137, 14)

In [16]:
print("subfund currency: ", generator.data_bucket.get_subfund_infos('subfund_currency'))
generator.data_bucket.get_shareclass_infos(isin=ALL)

subfund currency:  EUR

,id,shareclass,shareclass_id,shareclass_currency,shareclass_name,id_subfund,type_tpt
code_isin,,,,,,,
LU1280365476,184,A,LU6517-HA-C2-C5-D1,CHF,Dynasty Global Convertibles A CHF,90,1
LU1280365633,183,B,LU6517-NH,EUR,Dynasty Global Convertibles B EUR,90,1
LU1280365393,185,A,LU6517-NH,EUR,Dynasty Global Convertibles A EUR,90,1
LU1280365559,186,A,LU6517-HB-C3-C7,USD,Dynasty Global Convertibles A USD,90,1
LU1483663818,187,B,LU6517-HA-C2-C5-D1,CHF,Dynasty Global Convertibles B CHF,90,1
LU1840818220,188,B,LU6517-HC-C8,GBP,Dynasty Global Convertibles B GBP,90,1
LU1586705938,189,B,LU6517-HB-C3-C7,USD,Dynasty Global Convertibles B USD,90,1
LU1508332993,190,D,LU6517-NH,EUR,Dynasty Global Convertibles D EUR,90,1

In [17]:
navs = generator.data_bucket.get_shareclass_nav(isin=ALL, info=['shareclass_total_net_asset_sc_curr',
                                                                'shareclass_total_net_asset_sf_curr',
                                                                'subfund_total_net_asset'])
navs

,shareclass_total_net_asset_sc_curr,shareclass_total_net_asset_sf_curr,subfund_total_net_asset
shareclass,,,
LU1280365476,2.580789e+07,2.386180e+07,3.301555e+08
LU1280365633,1.331171e+08,1.331171e+08,3.301555e+08
LU1280365393,1.032699e+08,1.032699e+08,3.301555e+08
LU1280365559,1.648996e+07,1.347714e+07,3.301555e+08
LU1483663818,4.054038e+07,3.748335e+07,3.301555e+08
LU1840818220,1.094834e+06,1.223149e+06,3.301555e+08
LU1586705938,7.134391e+06,5.830894e+06,3.301555e+08
LU1508332993,1.189213e+07,1.189213e+07,3.301555e+08

In [18]:
print("sum of shareclass navs: ", navs["shareclass_total_net_asset_sf_curr"].sum())
print("TNA of subfund:         ", navs["subfund_total_net_asset"].iloc[0])

sum of shareclass navs:  330155476.93
TNA of subfund:          330155476.93

In [19]:
dist_vec = generator.data_bucket.get_distribution_vector()
dist_vec.sum()

23299334.48197175

In [22]:
sum_ = generator.data_bucket.processing_data.loc[(ALL, ALL), "distribution"].sum()
sum_1 = generator.data_bucket.processing_data.loc[(ALL, navs.index[0]), "distribution"].sum()
sum_2 = generator.data_bucket.processing_data.loc[(ALL, navs.index[1]), "distribution"].sum()
print(sum_1)
print(sum_2)
print(navs["subfund_total_net_asset"].iloc[0] - sum_)

23299334.48197175
129990578.91641122
7761794.810000002

In [28]:
instruments = generator.data_bucket.get_instruments_by_index(idx= ALL, info=["asset_name", "market_value_fund"])
fake_lines = instruments.loc[instruments["asset_name"].str.contains("Currency hedging liability", regex=False)]
fake_lines["market_value_fund"].sum()

-7761794.81

In [30]:
generator.data_bucket.instruments.drop(fake_lines.index, inplace=False)

,asset_name,asset_type,asset_currency,quantity_nominal,market_price,clear_value_asset,clear_value_fund,accrued_asset,accrued_fund,market_value_fund,market_value_asset,maturity_date,grouping_id,id_group,QN
instrument,,,,,,,,,,,,,,,
BE6286986284,BEKAERT 0.000% 21,VMOB,EUR,6600000.0,98.5000,6501000.0,6501000.00,0.00,0.00,6501000.00,6501000.00,2021-06-09,None,18,100.0
CH0413990240,SIKA AG 0.150% 25,VMOB,CHF,8600000.0,134.9500,11605700.0,10730548.42,7345.83,6791.90,10737340.32,11613045.83,2025-06-05,None,18,100.0
DE000A14J3R2,RAGSTF 0.000% 21,VMOB,EUR,3000000.0,99.6700,2990100.0,2990100.00,0.00,0.00,2990100.00,2990100.00,2021-02-18,None,18,100.0
DE000A286LP0,QIAGEN 0.000% 27,VMOB,USD,400000.0,101.8420,407368.0,332939.40,0.00,0.00,332939.40,407368.00,2027-12-17,None,18,100.0
DE000A289T23,LEG IMMOB 0.400% 28,VMOB,EUR,2100000.0,104.8700,2202270.0,2202270.00,4222.95,4222.95,2206492.95,2206492.95,2028-06-30,None,18,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XS2194282948,INFINEON 0.750% 23,VMOB,EUR,1800000.0,102.1706,1839070.8,1839070.80,7175.34,7175.34,1846246.14,1846246.14,2023-06-24,None,18,100.0
XS2198575271,LAGFIN 2.000% 25,VMOB,EUR,1000000.0,110.8640,1108640.0,1108640.00,9972.60,9972.60,1118612.60,1118612.60,2025-07-02,None,18,100.0
XS2239639433,MAIL RU 1.625% 25,VMOB,USD,7200000.0,101.3070,7294104.0,5961426.99,28925.00,23640.23,5985067.22,7323029.00,2025-10-01,None,18,100.0
XS2257580857,CELLNEX 0.750% 31,VMOB,EUR,1100000.0,96.0660,1056726.0,1056726.00,916.67,916.67,1057642.67,1057642.67,2031-11-20,None,18,100.0
XS2269112863,XIAOMI 0.000% 27,VMOB,USD,5500000.0,126.0620,6933410.0,5666633.97,0.00,0.00,5666633.97,6933410.00,2027-12-17,None,18,100.0